#custom-search-input {
  padding: 3px;
  border: solid 1px #E4E4E4;
  border-radius: 6px;
  background-color: #fff;
}

#custom-search-input input {
  border: 0;
  box-shadow: none;
}

#custom-search-input button {
  margin: 2px 0 0 0;
  background: none;
  box-shadow: none;
  border: 0;
  color: #666666;
  padding: 0 8px 0 10px;
  border-left: solid 1px #ccc;
}

#custom-search-input button:hover {
  border: 0;
  box-shadow: none;
  border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search {
  font-size: 23px;
}

.file-row {
  padding: 20px 0;
  border-bottom: solid 1px #E4E4E4;
}

.file-row.selected {
  background-color: #e8f0fe;
}

.files-grid-header {
  padding: 20px 0;
  border-bottom: solid 1px #E4E4E4;
  font-weight: bold;
}

.loader-screen {
  position: fixed;
  top: 50%;
  left: 50%;
}

.loader-screen .spinner {
  font-size: 400%;
}

.file-icon {
  margin-right: 10px;
  width: 24px;
}

.open-folder {
  margin-left: 5px;
  cursor: pointer;
}

.path-delimiter {
  margin: 0 10px;
}

.operation-buttons-wrapper {
  border: 1px solid silver;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.row.operation-buttons-wrapper {
  margin-left: 0;
  margin-right: 0;
}

.operation-buttons-wrapper h4 {
  text-align: center;
}
